<app-head></app-head>

<main id="content" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div id="list-header" class="mx-auto max-w-2xl text-center mb-6">
      <h2 class="text-3xl font-bold tracking-tight text-kipperdev-purple-dark sm:text-4xl">
        Lista de Endereços
      </h2>
    </div>
    <div id="address-list" class="mt-16 flex justify-center w-full sm:mt-20 lg:mx-0">
      <ul class="-my-8 flex gap-7 w-full divide-y divide-gray-100 flex-wrap justify-center">
        <li *ngFor="let address of addressList$ | async; trackBy: trackByAddress">
          <a [routerLink]="['/enderecos', address.id]">
            <app-address
              [rua]="address.rua"
              [numero]="address.numero"
              [bairro]="address.bairro"
              [complemento]="address.complemento"
              [cidade]="address.cidade"
              [uf]="address.uf">
              {{ address }}
            </app-address>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

<app-footer></app-footer>
