<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div id="list-header" class="mx-auto max-w-2xl text-center mb-6">
    <h2 class="text-3xl font-bold tracking-tight text-kipperdev-purple-dark sm:text-4xl">
      Lista de Endereços
    </h2>
  </div>

  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rua</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Complemento</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- Supondo que você tenha uma lista de endereços chamada 'enderecosList' -->
      @for (endereco of enderecosList; track $index) {
        <tr>
          <td>{{ endereco.id }}</td>
          <td>{{ endereco.rua }}</td>
          <td>{{ endereco.numero }}</td>
          <td>{{ endereco.bairro }}</td>
          <td>{{ endereco.complemento }}</td>
          <td>{{ endereco.cidade }}</td>
          <td>{{ endereco.uf }}</td>
          <td class="direita">
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(endereco)">
              Editar
            </button>
            <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(endereco)">
              Deletar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  
  <!-- <div id="address-list" class="mt-16 flex justify-center w-full sm:mt-20 lg:mx-0">
    <ul class="-my-8 flex gap-7 w-full divide-y divide-gray-100 flex-wrap justify-center">
      <li *ngFor="let address of addressList$ | async; trackBy: trackByAddress">
        <a [routerLink]="['/enderecos', address.id]">
          <app-address [rua]="address.rua" [numero]="address.numero" [bairro]="address.bairro"
            [complemento]="address.complemento" [cidade]="address.cidade" [uf]="address.uf">
            {{ address }}
          </app-address>
        </a>
      </li>
    </ul>
  </div> -->
</div>

<app-footer></app-footer>
